
<h3>Location</h3>

<dl class="dl-horizontal">
    <dt>Realm</dt>
    <dd>Blargington</dd>

    <dt>Region</dt>
    <dd>City of Qeynos</dd>
    <dt>Kingdom</dt>
    <dd>Western Hegemony</dd>

</dl>

<h3>Player</h3>
<dl class="dl-horizontal">
    <dt>Name</dt>
    <dd>Stonesthrow</dd>

    <dt>Aspect</dt>
    <dd>Unaligned</dd>

</dl>

<h4>Mana Pool</h4>
<dl class="dl-horizontal">
    <dt class="manaRed">Red</dt>
    <dd class="manaRed">
        {% for i in "123" %}
            <i class="fa fa-circle"></i>
        {% endfor %}
    </dd>

    <dt class="manaBlue">Blue</dt>
    <dd class="manaBlue">
        {% for i in "12" %}
            <i class="fa fa-circle"></i>
        {% endfor %}
    </dd>

    <dt class="manaGreen">Green</dt>
    <dd class="manaGreen">
        {% for i in "1" %}
            <i class="fa fa-circle"></i>
        {% endfor %}
    </dd>

    <dt class="manaYellow">Yellow</dt>
    <dd class="manaYellow">
        {% for i in "1234" %}
            <i class="fa fa-circle"></i>
        {% endfor %}
    </dd>

    <dt class="manaPurple">Purple</dt>
    <dd class="manaPurple">
        {% for i in "" %}
            <i class="fa fa-circle"></i>
        {% endfor %}
        <i class="fa fa-circle-thin"></i>
    </dd>

    <dt class="">Other Symbols</dt>
    <dd class="">
        <i class="fa fa-dot-circle-o"></i>
        <i class="fa fa-circle-thin"></i>
    </dd>
</dl>