{% extends 'gamePage.html' %}

{% block content %}

    <ul>
        <li>
            <h2>City of Qeynos</h2>
            <ul>
                <li>
                    <h3>Government:</h3>

                    <h4>Actions</h4>
                    <ul>
                        <li>Appoint a Puppet</li>
                        <li>Claim the Rulership</li>
                        <li>Influence decisions
                            <ul>
                                <li>Enemies</li>
                                <li>Allies</li>
                            </ul>
                        </li>
                        <li>Destabilize</li>
                    </ul>
                </li>

                <li>
                    <h3>Troubles</h3>
                    <ul>
                        <li>Unrest - Red Raiders</li>
                        <li>Unrest - Blue Raiders</li>
                        <li>Politics - Order Yellow temple is taking control</li>
                        <li>Politics - Chaotic Green night trouble</li>

                    </ul>

                </li>
            </ul>
        </li>

    </ul>



{% endblock %}